In [2]:
#import dataset_snowbar as d              # Funciones y rutinas para descargar, procesar los datos, y cargarlos
#import modelo_snowbar as m                # Clase con el modelo a implementar
#import metricas_snowbar as me              # Metrics utilizadas para el análisis
import matplotlib.pyplot as plt            # Librería para crear visualizaciones
import seaborn as sns                      # Librería para crear visualizaciones
import pandas as pd                        # Librería para trabajar con data-tabular (i.e. dataframe)
import numpy as np                         # Librería prog-cientifica
from sklearn.model_selection import train_test_split   # Para separar datos en entrenamiento y evaluación
from sklearn.metrics import confusion_matrix           # Para crear matriz de confusion
from sklearn.svm import SVC

In [6]:
df1 = pd.read_csv('SnowBar.csv', sep = ;)

SyntaxError: invalid syntax (4119826734.py, line 1)

In [4]:
df1.head()

  Rating;Year;Len;Label
0          5;2022;388;1
1          4;2019;182;1
2          1;2020;167;0
3           4;2017;27;1
4           5;2018;27;1

In [ ]:
help(d.base_rating_review)

In [5]:
df1

    Rating;Year;Len;Label
0            5;2022;388;1
1            4;2019;182;1
2            1;2020;167;0
3             4;2017;27;1
4             5;2018;27;1
..                    ...
345            5;2022;0;1
346            4;2022;0;1
347            5;2021;0;1
348            5;2021;0;1
349            5;2019;0;1

[350 rows x 1 columns]

In [4]:
data = d.base_rating_review()
X, y = data['dataset']

NameError: name 'd' is not defined

In [ ]:
X.shape, y.shape

In [ ]:
X.head(n=2)

In [ ]:
y.head(n=2)

In [ ]:
y.unique()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train.shape, X_test.shape

In [ ]:
y_train.shape, y_test.shape

In [ ]:
plt.scatter(X_train['sepal_length'], X_train['sepal_width'], c=y_train);

In [ ]:
modelo_reg_logistica = m.reg_logistica(X_train, y_train.values.ravel())
modelo_naive_bayes = m.gaussian_naive_bayes(X_train, y_train.values.ravel())
modelo_svm = m.svm_cls(X_train, y_train.values.ravel())

In [ ]:
reg_logistica_preds = modelo_reg_logistica.predict(X_test)
naive_bayes_preds = modelo_naive_bayes.predict(X_test)
y_pred = svclassifier.predict(X_test)

In [ ]:
print(f'Desempeño regresión logistica según accuracy: {me.metrica_accuracy(y_test, reg_logistica_preds)}')
print(f'Desempeño naive bayes según accuracy: {me.metrica_accuracy(y_test, naive_bayes_preds)}')

In [ ]:
print(f'Desempeño regresión logistica según f1-score: {me.metrica_f1score(y_test, reg_logistica_preds)}')
print(f'Desempeño naive bayes según f1-score: {me.metrica_f1score(y_test, naive_bayes_preds)}')

In [ ]:
confusion_matrix(y_test, reg_logistica_preds)

In [ ]:
confusion_matrix(y_test, naive_bayes_preds)

In [ ]:
def plot_matriz_confusion(cf, CMAP='Blues_r'):
    """Recibe un array con la matriz de confusion"""
    classes = ['setosa', 'versicolor', 'virginica']
    df_cm_log = pd.DataFrame(cf / np.sum(cf) * 100,
                             index = [i for i in classes],
                             columns = [i for i in classes])
    sns.heatmap(df_cm_log, annot=True, cmap=CMAP, linewidth=.5,
                linecolor='lightgrey', annot_kws={'size': 8.5},);

In [ ]:
plot_matriz_confusion(confusion_matrix(y_test, reg_logistica_preds))

In [ ]:
plot_matriz_confusion(confusion_matrix(y_test, naive_bayes_preds))

In [ ]:
plot_matriz_confusion(confusion_matrix(y_test, naive_bayes_preds))

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))